<div class="container">
    <button type="button" routerLink="/occupancy/admit" routerLinkActive="active" class="btn btn-primary">Admit</button>
            <button type="button" routerLink="/occupancy/discharge" routerLinkActive="active" class="btn btn-primary">Discharge</button>
            <button type="button" routerLink="/occupancy/status" routerLinkActive="active" class="btn btn-primary">Status</button>   
    <!-- <table>
        <tr>
            <td><button type="button" routerLink="/occupancy/admit" routerLinkActive="active" class="btn btn-primary">Admit</button></td>
            <td><button type="button" routerLink="/occupancy/discharge" routerLinkActive="active" class="btn btn-primary">Discharge</button></td>
            <td><button type="button" routerLink="/occupancy/status" routerLinkActive="active" class="btn btn-primary">Status</button></td>
        </tr>
    </table> -->
  </div>
  