<form style="border:1px solid #ccc">
    <div class="container">
      <h1>Bed Status</h1>
      <p>Please fill the details to check status of beds in an ICU</p>
      <hr>
  
      <label for="client_id"><b>Client Id</b></label>
      <br>
      <select [(ngModel)]="client_id" name="client_id">
        <option *ngFor = "let client of client_list" [value]="client.client_id">
          {{client.client_id}}
        </option>
      </select>
      <br>
      <!-- <input type="text" placeholder="Enter Client Id" name="client_id" required [(ngModel)]="client_id"> -->

      
      <div>
        <button type="button" class="btn btn-primary" (click)="BedStatus()">Get BedStatus</button>
      </div>
      <div >
        <table id= "bed_status">
          <tr [hidden]="isShow">
            <th>Bed ID</th>
            <th>Bed Status</th>
          </tr>
          <tr *ngFor="let bed of bed_status">
            <td>{{bed.bed_id}}</td>
            <td>{{bed.bedStatus}}</td>
          </tr>
        </table>
      </div>
    </div>
  </form>
