<form style="border:1px solid #ccc">
    <div class="container">
      <h1>Alert</h1>
      <p>Please add the details to get all alerts related to the patient</p>

      <label for="client_id"><b>Client Id</b></label>
      <br>
      <select [(ngModel)]="client_id" name="client_id" (change)="onClientChange()" >
        <option *ngFor = "let client of client_list" [value]="client.client_id">
          {{client.client_id}}
        </option>
      </select>
      <br>
      <label for="patient_id"><b>Patient Id</b></label>
      <br>
      <select [(ngModel)]="patient_id" name="patient_id" >
        <option *ngFor = "let patient of admitted_patient_list" [value]="patient.patient_id">
          {{patient.name}} ---- {{patient.patient_id}}
        </option>
      </select>
      <br>
      <!-- <input type="text" placeholder="Enter Patient Id" name="patient_id" required [(ngModel)]="patient_id"> -->
      <br>

      <div class="clearfix">
            <button type="button" class="cancelbtn" (click)="onReset()">Reset</button>
            <button type="button" class="setupbtn" (click)="onSetup()">Get Alert</button>
      </div>
      <div>
        <table id="bed_status">
          <tr>
            <th>Bed ID</th>
            <th>Alert Message</th>
          </tr>
          <tr *ngFor="let alert of alerts">
            <td>{{alert.bedId}}</td>
            <td>{{alert.alertMessage}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div>
        
    </div>
  </form>

