<!-- <home-comp></home-comp> -->
<div style="text-align:center">
  <h1>Hospital Care</h1>
</div>
<div class="container">
  <table>
      <tr>
          <td><button type="button" routerLink="/setup" routerLinkActive="active" class="btn btn-primary">Setup</button></td>
          <td><button type="button" routerLink="/occupancy" routerLinkActive="active" class="btn btn-primary">Occupancy</button></td>
          <td><button type="button" routerLink="/care" routerLinkActive="active" class="btn btn-primary">Care</button></td>
      </tr>
  </table>
  <hr>
</div>

<router-outlet></router-outlet> 