<form style="border:1px solid #ccc">
    <div class="container">
      <h1>Discharge Patient</h1>
      <p>Please fill the details to discharge a patient</p>
      <hr>
  
      <label for="client_id"><b>Client Id</b></label>
      <br>
      <select [(ngModel)]="client_id" name="client_id" (change)="onClientChange()">
        <option *ngFor = "let client of client_list" [value]="client.client_id">
          {{client.client_id}}
        </option>
      </select>
      <br>
      <!-- <input type="text" placeholder="Enter Client Id" name="client_id" required [(ngModel)]="client_id"> -->

      <label for="patient_id"><b>Patient Id</b></label>
      <br>
      <select [(ngModel)]="patient_id" name="patient_id">
        <option *ngFor = "let patient of admitted_patient_list" [value]="patient.patient_id">
          {{patient.name}}
        </option>
      </select>
      <br>
      <!-- <input type="text" placeholder="Enter Patient Id" name="patient_id" required [(ngModel)]="patient_id"> -->

      

      <div>
        <button type="button" class="btn btn-primary" (click)="DischargePatient()">Discharge</button>
      </div>
    </div>
  </form>