<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alert to Care</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="text-align:center">
        <h1>Alert to Care</h1>
      </div>
<div class="container">
  <table>
      <tr>
          <td><button type="button" routerLink="/setup" routerLinkActive="active" class="btn btn-primary">Setup</button></td>
          <td><button type="button" class="btn btn-primary">Occupancy</button></td>
          <td><button type="button" class="btn btn-primary">Care</button></td>
      </tr>
  </table>
</div>

</body>
</html>
